.s-thema--home {

  .test2 {
    .c-intro__list,
    .c-intro__list__item {
      width: 100% !important;
    }
    .c-topic__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .test1 {
    padding: 0;
    position: absolute;
    left: 50%;
    &.c-topic__content {
      min-height: initial !important;
      display: initial !important;
      justify-content: initial !important;
      align-items: initial !important;
    }

    svg {
      position: absolute;
      width: 750px;
      transform: translate(-50%, 25%);

      &.is-active,
      &:hover {
        -webkit-transition: 1s ease-in;
        transition: 1s ease-in;
        width: 50px;
      }
    }
  }


  .test {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .test:nth-child(1) {
    animation-delay: 2s;
  }

  .test:nth-child(2) {
    animation-delay: 4s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .c-intro2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: _rem(35px);

    .c-topic {
      margin-bottom: 0;
      border: none;

      & > svg {
        position: fixed;
        left: 49%;
        top: 10px;
        width: 50px;
      }

      &__header {
        font-size: _em(8px);
        text-align: center;
        width: 100%;
        position: fixed;
        left: 0;
        top: 70px;

        svg {
          background-color: $_color-black;
        }

        &__logo {
          width: 50px;
        }
      }

      &__content {
        color: #000000;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
          text-align: center;
          font-size: 1em;
          color: #000000;

          h1 {
            text-transform: lowercase;
          }

          span {
            text-transform: uppercase;
            color: $_color-brand;
          }

          p {
            font-weight: normal;
          }
        }
      }

      .test2 {
        min-height: auto;
      }

      &__cta {
        display: flex;
        align-items: center;
        position: fixed;
        padding-left: 0;

        svg {
          width: 100%;
        }

        img {
          width: 100%;
        }

        p {
          font-size: _em(12px);
          margin-bottom: -10px;
          margin-left: 1em;
        }

        span {
          color: $_color-brand;
        }
      }
    }
  }

  .c-intro {
    font-weight: bold;
    text-transform: uppercase;
    font-size: _rem(35px);

    .c-topic {
      margin-top: 1.5em;
      border: none;
      min-height: auto;

      &__header {
        font-size: _em(8px);
        text-align: center;
        width: 100%;
        position: fixed;
        left: 0;
        top: 10px;

        &__logo {
          width: 50px;
        }

        svg:nth-child(1) {
          background-color: $_color-black;
          width: 50px;
        }
      }

      &__content {
        @include bp(0px, large) {
          padding: 0;
        }
        color: #000000;

        @include bp(0px, small) {
          min-height: calc(100vh - 90px);
          display: flex;
          align-items: center;
        }

      }

      &__summary {
        margin-right: auto;
        margin-left: auto;
        border: none;
        width: initial;

        @include bp(0px, large) {
          margin-bottom: 1.5em;
        }
      }

      &__cta {
        display: flex;
        align-items: center;
        position: fixed;
        padding-left: 0;

        svg {
          width: 100%;
        }

        img {
          width: 100%;
        }

        p {
          font-size: _em(12px);
          margin-bottom: 0;
          margin-left: 1em;
        }

        span {
          color: $_color-brand;
        }
      }
    }

    &__list {
      &__item {
        display: flex;
        align-items: center;
        @include bp(0px, large) {
          justify-content: flex-end;
        }

        justify-content: center;
        cursor: pointer;
        margin-bottom: _em(20px);

        p {
          margin-bottom: 0;
          text-align: center;
          width: 100%;
          @include bp(0px, large) {
            text-align: initial;
            width: initial;
          }
        }

        span {
          color: $_color-brand;
        }

        svg {
          width: 120px;
          display: flex;
          margin-left: auto;
        }
      }
    }
  }
}
