$dossier_height: 1400px;
$dossier_padding: 20px;

.o-page--dossier {
  &__background {
    @include bp(large) {
      min-height: $dossier_height;
    }
    @include bp_height(0px, $dossier_height + $_component_height_header) {
      @include bp(0px, small) {
        min-height: calc(100vh - 115px);
      }

      min-height: calc(100vh - #{$_component_height_header});
    }

    position: relative;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: '';
      transition: $_transition-default;

      opacity: 0.5;
      background-color: lighten($_color-backdrop, 1%);
      background-image: repeating-linear-gradient(
        -40deg,
        transparent,
        transparent 5px,
        rgba(lighten($_color-backdrop, 5%), 1) 5px,
        rgba(lighten($_color-backdrop, 5%), 1) 10px
      );
    }
  }
}

.c-dossier__bloc {
  @include bp(large) {
    min-height: 640px;
  }

  width: 100%;

  &__figure {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    background-position: 50% 50%;
    background-size: cover;

    &::after {
      position: absolute;
      top: 0;

      display: block;

      width: 100%;
      height: 100%;

      content: '';
      transition: $_transition-default;

      opacity: 0.6;
      background-color: lighten($_color-backdrop, 1%);
      background-image: repeating-linear-gradient(
        -40deg,
        transparent,
        transparent 5px,
        rgba(lighten($_color-backdrop, 5%), 1) 5px,
        rgba(lighten($_color-backdrop, 5%), 1) 10px
      );
    }
  }

  &:hover {
    .c-dossier__bloc__figure {
      &::after {
        opacity: 0.85;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    padding: 25px;

    color: $_color-white;
  }

  &__title {
    @include bp(small) {
      font-size: 42px;
    }
    @include bp(medium) {
      font-size: 56px;

      max-width: 80%;
    }

    font-size: 32px;

    color: $_color-white;
  }

  &__items {
    @include bp(medium) {
      max-width: 400px;
    }

    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0;

    list-style: none;

    border-top: 1px solid $_color-grey;
  }

  &__item {
    @include bp(small) {
      font-size: 28px;
    }

    font-family: $_base-font-family-headings;
    font-size: 20px;
    line-height: 1;

    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid $_color-grey;

    a {
      color: $_color-white;
    }
  }

  &__footer {
    position: absolute;
    z-index: 1;
    bottom: 0;

    width: 100%;
    padding: 25px;

    &__btn {
      @include bp(medium) {
        font-size: 24px;
      }
      @include bp(medium) {
        float: right;
      }

      font-family: $_base-font-family-headings;
      font-size: 18px;
      font-weight: bold;

      padding: 10px;

      color: $_color-white;
    }
  }
}

.c-dossier {
  @include bp(smallest) {
    padding: $dossier_padding;
    padding-bottom: 0;
  }

  position: relative;
  z-index: 1;

  display: flex;

  max-width: $_custom_wide_layout_max_width;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1em;

  color: $_color-white;
}

.c-dossier__section {
  @include bp(largest) {
    flex: 0 0 50%;

    max-width: 50%;
  }

  position: relative;

  flex: 0 0 100%;

  max-width: 100%;

  &:last-child {
    @include bp(largest) {
      &:last-child {
        display: block;
      }
    }

    display: none;
  }
}

.c-dossier__navigation {
  font-size: 13px;

  overflow: auto;

  max-height: 400px;
  margin-left: 30px;
  padding: 10px;

  background-color: rgba($_color-black, 0.85);

  &__item {
    line-height: 1.2;

    display: block;

    padding: 20px 20px 20px 1em;

    cursor: pointer;
    transition: font-weight 300ms ease;
    text-transform: uppercase;

    border-top: 1px solid $_color-white;

    h3 {
      pointer-events: none;
    }

    &.active {
      font-weight: bold;
    }

    &:first-child {
      margin-bottom: 0.5em;
    }

    &:nth-child(1) {
      border-top: none;
    }
  }
}

.c-dossier__share {
  font-family: $_base-font-family-headings;

  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 30px;
  padding: 10px;

  background-color: rgba(29, 29, 27, 0.85);

  &__title {
    font-size: 20px;

    margin: 0;

    text-align: center;
  }

  &__links {
    display: flex;

    justify-content: center;
  }

  &__link__icon {
    font-size: 30px;

    margin: 0 10px;
  }
}

.c-dossier__intro {
  @include bp_height(0px, $dossier_height + $_component_height_header) {
    @include bp(0px, small) {
      max-height: calc(100vh - 115px);
    }

    overflow: auto;

    max-height: calc(100vh - #{$_component_height_header});
  }

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 10px;

  transition: opacity 300ms ease, transform 300ms ease;
  transform: translateY(0);
  text-align: justify;

  opacity: 1;

  &.is-hidden {
    transform: translateY(-100%);
    pointer-events: none;

    opacity: 0;
  }

  & .c-btn {
    margin-top: 30px;
    padding: 10px;
  }
  &__title {
    font-size: 50px;
    font-weight: bold;

    margin-bottom: $_base-font-space;

    color: $_color-white;
  }
}

.c-dossier__carousel {
  $carousel_nav_height: 70px;
  $carousel_title_height: 50px;
  $carousel_body_max_height: (
      ($dossier_padding * 3) + ($carousel_title_height * 2) - $dossier_padding
    ) + $carousel_nav_height;
  $tablet_carousel_max_height: $dossier_padding + $_component_height_header;
  $mobile_carousel_max_height: 115px;

  @include bp_height(0px, $dossier_height + $_component_height_header) {
    @include bp(0px, small) {
      max-height: calc(100vh - #{$mobile_carousel_max_height});
    }

    max-height: calc(100vh - #{$tablet_carousel_max_height});
  }

  overflow: hidden;

  max-height: calc(#{$dossier_height} - #{$dossier_padding});

  transition: opacity 300ms ease 300ms, transform 300ms ease 300ms;
  transform: scale(100%);

  &.is-hidden {
    overflow: hidden;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    transform: scale(0);

    opacity: 0;
  }

  &__header {
    line-height: $carousel_title_height;

    height: $carousel_title_height;
    padding: 0 10px;

    text-transform: uppercase;

    color: $_color-brand;
    background-color: rgba($_color-black, 0.85);
  }

  &__nav {
    display: flex;

    height: $carousel_nav_height;
    padding: $dossier_padding 0;

    justify-content: space-between;

    &__button {
      font-family: $_base-font-family-headings;
      font-size: 20px;

      display: flex;

      padding: 0;

      transition: color 300ms ease;

      color: $_color_brand;
      border: none;
      background: $_color-grey;

      align-items: center;
      appearance: none;

      &[disabled] {
        cursor: not-allowed;

        color: $_color_white;

        span {
          background-color: $_color_grey;
        }
      }

      &:focus {
        outline: none;
        box-shadow: 0 2px 0 0 $_color_brand;
      }

      svg {
        margin: 0 5px;

        pointer-events: none;

        fill: currentColor;

        &:focus {
          outline: none;
        }
      }

      span {
        padding: 0 10px;

        transition: background-color 300ms ease;
        pointer-events: none;

        background-color: rgba($_color-black, 0.85);
      }
    }

    &__items {
      display: flex;

      align-items: center;
    }

    &__item {
      display: block;

      width: 10px;
      height: 10px;
      margin: 0 4px;

      cursor: pointer;
      transition: background-color 300ms ease;

      background: $_color-grey;

      &.active {
        background: $_color_brand;
      }
    }
  }

  &__items {
    display: flex;

    transition: transform 300ms ease-in-out;
  }

  &__item {
    flex: 1 0 100%;

    height: 100%;
    padding: $dossier_padding;
    padding-top: 0;

    color: $_color-grey-dark;
    background: $_color-white;

    &__title {
      padding: 10px 0;
    }

    &__body {
      $table_carousel_body_max_height: $carousel_body_max_height +
        $_component_height_header;
      $mobile_carousel_body_max_height: ($carousel_body_max_height + 115px) -
        $dossier_padding;

      @include bp_height(0px, $dossier_height + $_component_height_header) {
        @include bp(0px, small) {
          max-height: calc(100vh - #{$mobile_carousel_body_max_height});
        }

        max-height: calc(100vh - #{$table_carousel_body_max_height});
      }

      overflow-y: auto;

      max-height: calc(#{$dossier_height} - #{$carousel_body_max_height});

      img {
        width: 100%;
      }
    }
  }
}
